[Desktop Entry]
Type=Application
Icon=aurqt
Exec=aurqt

Name=aurqt
GenericName=AUR Manager
GenericName[es]=Un mánager para AUR
GenericName[it]=Una manager per AUR
GenericName[pl]=Menadżer AUR
GenericName[sv]=AUR ägare
GenericName[x-test]=xxAUR Managerxx
Comment=A graphical AUR manager
Comment[es]=Un mánager gráfico para AUR
Comment[it]=Una manager grafico per AUR
Comment[pl]=Graficzny menadżer AUR
Comment[sv]=En grafisk hanterare för AUR
Comment[x-test]=xxA graphical AUR managerxx

Terminal=false
Categories=Qt;KDE;System;Settings;PackageManager;
InitialPreference=10
